@import "../../base/base";
@import "../../helper/helper";
@import "../../layouts/layouts";

.main {
    background-color: #E5E5E5 !important;
}
.success {
    color: color('success') !important;
}
.avatar {
    border: 2px solid rgba(84, 84, 84, 0.45) !important;
}
