.drawerLeft {
    .nav {
        &__list {
            color: color(secondary) !important;
            font-size: 15px !important;
            font-style: normal;
        }
        &__list-icon {
            font-size: 14px !important;
        }
    }
}
